<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.creb.mapper.CrabFeedingMapper">
    
    <resultMap type="CrabFeeding" id="CrabFeedingResult">
        <result property="recordId"    column="record_id"    />
        <result property="poolId"    column="pool_id"    />
        <result property="feedType"    column="feed_type"    />
        <result property="feedAmount"    column="feed_amount"    />
        <result property="feedTime"    column="feed_time"    />
        <result property="operator"    column="operator"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCrabFeedingVo">
        select record_id, pool_id, feed_type, feed_amount, feed_time, operator, create_time, remark from crab_feeding
    </sql>

    <select id="selectCrabFeedingList" parameterType="CrabFeeding" resultMap="CrabFeedingResult">
        <include refid="selectCrabFeedingVo"/>
        <where>  
            <if test="poolId != null "> and pool_id = #{poolId}</if>
            <if test="feedType != null  and feedType != ''"> and feed_type = #{feedType}</if>
            <if test="feedAmount != null "> and feed_amount = #{feedAmount}</if>
            <if test="feedTime != null "> and feed_time = #{feedTime}</if>
            <if test="operator != null  and operator != ''"> and operator = #{operator}</if>
        </where>
    </select>
    
    <select id="selectCrabFeedingByRecordId" parameterType="Long" resultMap="CrabFeedingResult">
        <include refid="selectCrabFeedingVo"/>
        where record_id = #{recordId}
    </select>

    <insert id="insertCrabFeeding" parameterType="CrabFeeding" useGeneratedKeys="true" keyProperty="recordId">
        insert into crab_feeding
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="poolId != null">pool_id,</if>
            <if test="feedType != null and feedType != ''">feed_type,</if>
            <if test="feedAmount != null">feed_amount,</if>
            <if test="feedTime != null">feed_time,</if>
            <if test="operator != null and operator != ''">operator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="poolId != null">#{poolId},</if>
            <if test="feedType != null and feedType != ''">#{feedType},</if>
            <if test="feedAmount != null">#{feedAmount},</if>
            <if test="feedTime != null">#{feedTime},</if>
            <if test="operator != null and operator != ''">#{operator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCrabFeeding" parameterType="CrabFeeding">
        update crab_feeding
        <trim prefix="SET" suffixOverrides=",">
            <if test="poolId != null">pool_id = #{poolId},</if>
            <if test="feedType != null and feedType != ''">feed_type = #{feedType},</if>
            <if test="feedAmount != null">feed_amount = #{feedAmount},</if>
            <if test="feedTime != null">feed_time = #{feedTime},</if>
            <if test="operator != null and operator != ''">operator = #{operator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteCrabFeedingByRecordId" parameterType="Long">
        delete from crab_feeding where record_id = #{recordId}
    </delete>

    <delete id="deleteCrabFeedingByRecordIds" parameterType="String">
        delete from crab_feeding where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>